In [109]:
from PIL import Image, ImageDraw
import numpy as np
import pandas as pd
import cv2
import fnmatch
import os
import glob

In [110]:
df = pd.read_csv('data.txt', sep=" ", header=None)
df_normal_marked = pd.read_csv('saved.csv')
df.columns = ["ID", "background_tissue", "class",
              "severity", "x", "y", "rad"]
df.index = df.index + 1

In [3]:
df_final = pd.concat([df, df_normal_marked], axis=0)

In [4]:
df_final = df_final.reset_index(drop=True)
del df_final["Unnamed: 0"]

In [111]:
df_final
for index, row in df_final.iterrows():
    path = 'all-mias/{name}.pgm'.format(name=row['ID'])
    im = cv2.imread('all-mias/{name}.pgm'.format(name=row['ID']))
    im.save("png_converted/{}.png".format(row['ID']))

AttributeError: 'numpy.ndarray' object has no attribute 'save'

In [6]:
df_normal = pd.read_csv('data.txt', sep=" ", header=None)
df_normal.columns = ["ID", "background_tissue", "class",
              "severity", "x", "y", "rad"]

In [7]:
df_normal = df_normal.loc[df_normal['class']  == 'NORM']
df_normal = df_normal.reset_index(drop=True)

In [8]:
df_normal

         ID background_tissue class severity    x    y  rad
0    mdb003                 D  NORM      NaN  NaN  NaN  NaN
1    mdb004                 D  NORM      NaN  NaN  NaN  NaN
2    mdb006                 F  NORM      NaN  NaN  NaN  NaN
3    mdb007                 G  NORM      NaN  NaN  NaN  NaN
4    mdb008                 G  NORM      NaN  NaN  NaN  NaN
..      ...               ...   ...      ...  ...  ...  ...
202  mdb318                 D  NORM      NaN  NaN  NaN  NaN
203  mdb319                 D  NORM      NaN  NaN  NaN  NaN
204  mdb320                 D  NORM      NaN  NaN  NaN  NaN
205  mdb321                 D  NORM      NaN  NaN  NaN  NaN
206  mdb322                 D  NORM      NaN  NaN  NaN  NaN

[207 rows x 7 columns]

In [9]:
df['severity'].value_counts()

B    68
M    51
Name: severity, dtype: int64

In [10]:
im = Image.open('all-mias/mdb001.pgm') # PILLOW image processing

In [11]:
im.getpixel( (535,425) )

155

In [110]:
last = 'start'

In [111]:
def img_draw(image, x, y, r, c):
    if c=='M':
        color = 'red'
    else:
        color = 'blue'
    draw = ImageDraw.Draw(image)
    leftUpPoint = (x-r, y-r)
    rightDownPoint = (x+r, y+r)
    twoPointList = [leftUpPoint, rightDownPoint]
    draw.ellipse(twoPointList, outline=color, width=5)

In [ ]:
for index, row in df.iterrows():
    path = 'all-mias/{name}.pgm'.format(name=row['ID'])
    if last != path:
        im = Image.open(path).convert("RGB")
    x = int(row['x'])
    y = int(row['y'])
    r = int(row['rad'])
    c = row['severity']
    img_draw(im, x, 1024 - y, r, c)
    im.save("marked/{}.png".format(row['ID']))
    last = path

In [19]:
mean = []
var = []
std = []
max_v = []
min_v = []
min_coor_x = []
min_coor_y = []
max_coor_x = []
max_coor_y = []
for index, row in df_final.iterrows():
    path = 'all-mias/{name}.pgm'.format(name=row['ID'])
    im = cv2.imread('all-mias/{name}.pgm'.format(name=row['ID']))
    h,w,d = im.shape
    x = int(row['x'])
    y = int(row['y'])
    r = int(row['rad'])
    #c = row['severity']
    mask = np.zeros((h,w), np.uint8)
    cv2.circle(mask,(x,1024-y),r ,1,thickness=-1)
    masked_data = cv2.bitwise_and(im, im, mask=mask)
    
    mean.append(cv2.meanStdDev(im, mask = mask)[0][0])
    var.append(np.power(cv2.meanStdDev(im, mask = mask)[1][0], 2))
    std.append(cv2.meanStdDev(im, mask = mask)[1][0])
    
    gray = cv2.cvtColor(im, cv2.COLOR_BGR2GRAY)
    min_val, max_val, min_loc, max_loc = cv2.minMaxLoc(gray, mask = mask)
    
    max_v.append(max_val)
    min_v.append(min_val)
    min_coor_x.append(min_loc[0])
    min_coor_y.append(min_loc[1])
    max_coor_x.append(max_loc[0])
    max_coor_y.append(max_loc[1])

In [20]:
df_final['mean'] = np.array(mean)
df_final['var'] = np.array(var)
df_final['std'] = np.array(std)
df_final['min_pixel'] = np.array(min_v)
df_final['max_pixel'] = np.array(max_v)
df_final['min_coor_x'] = np.array(min_coor_x)
df_final['min_coor_y'] = np.array(min_coor_y)
df_final['max_coor_x'] = np.array(max_coor_x)
df_final['max_coor_y'] = np.array(max_coor_y)

In [98]:
df_final.to_csv("final.csv")

In [21]:
df_final

,ID,background_tissue,class,severity,x,y,rad,mean,var,std,min_pixel,max_pixel,min_coor_x,min_coor_y,max_coor_x,max_coor_y
0,mdb001,G,CIRC,B,535,425,197.0,150.781051,3205.504934,56.617179,5.0,221.0,373,710,487,632
1,mdb002,G,CIRC,B,522,280,69.0,197.870827,764.537398,27.650269,75.0,229.0,571,792,531,679
2,mdb005,F,CIRC,B,477,133,30.0,149.605105,409.222292,20.229243,84.0,187.0,481,920,476,876
3,mdb005,F,CIRC,B,500,168,26.0,162.426214,80.178549,8.954248,128.0,181.0,520,841,522,859
4,mdb010,F,CIRC,B,525,425,33.0,184.385157,127.091607,11.273491,155.0,208.0,557,599,519,598
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,mdb318,D,NORM,NaN,442,68,50.0,14.033015,0.505857,0.711236,11.0,35.0,436,951,467,965
308,mdb319,D,NORM,NaN,590,281,50.0,145.912938,28.130725,5.303841,130.0,168.0,587,778,637,745
309,mdb320,D,NORM,NaN,495,264,50.0,195.578840,470.810515,21.698168,146.0,227.0,451,745,527,722
310,mdb321,D,NORM,NaN,604,271,50.0,177.764946,30.464061,5.519426,163.0,199.0,626,740,555,746
311,mdb322,D,NORM,NaN,460,115,50.0,8.994009,7.767332,2.786993,6.0,24.0,493,895,446,863

In [76]:
all_coor = []
def get_all_coor():
    for index, row in df_final.iterrows():
        coordinates = []
        for x in range( int(row['x']) - int(row['rad']) ,  int(row['x']) + int(row['rad']) ) :
            for y in range( int(row['y']) - int(row['rad']), int(row['y']) + int(row['rad']) ):
                dx = x - int(row['x'])
                dy = y - int(row['y'])
                distanceSquared = dx * dx + dy * dy
                if (distanceSquared <= row['rad']**2):
                    coordinates.append((x,y))
        all_coor.append(coordinates)

In [77]:
get_all_coor()

In [101]:
bdips = []
def bdip():    
    for index, row in df_final.iterrows():
        path = 'all-mias/{name}.pgm'.format(name=row['ID'])
        im = cv2.imread('all-mias/{name}.pgm'.format(name=row['ID']))
        s = 0
        for x, y in all_coor[index]:
            s += im[row['max_coor_y'],row['max_coor_x']] - im[y, x]
        bdips.append( (s[0]/(row['rad']**2*3.14*im[row['max_coor_y'],row['max_coor_x']]))[0] )

In [80]:
im = cv2.imread('all-mias/mdb001.pgm')

In [92]:
s = 0
for x, y in all_coor[0]:
    s += im[632,487] - im[y, x]

In [94]:
(1/(221*(197)**2*3.14))*s[0]

7.017904113363145e-06

In [102]:
bdip()
bdips

<ipython-input-101-e75bd423e2a1>:9: RuntimeWarning: divide by zero encountered in true_divide
  bdips.append( (s[0]/(row['rad']**2*3.14*im[row['max_coor_y'],row['max_coor_x']]))[0] )

[7.017904113363144e-06,
 5.5207552266961426e-05,
 8.704504770447071e-05,
 0.0005778272985605542,
 0.00028681991623508705,
 4.312632696390658e-05,
 0.00013992265959099872,
 2.0431390757123542e-05,
 7.64380130519436e-05,
 3.908748084505186e-05,
 5.823268837611484e-06,
 0.00044495103645190363,
 5.72217227610802e-05,
 6.475191315350425e-05,
 0.00014695686929659202,
 5.972904243025841e-05,
 0.00048161211343968437,
 0.00014687179327210208,
 0.00012753344259560796,
 0.00030328152819187443,
 0.0003010126064079563,
 3.184713375796178e-05,
 1.0798751422443534e-05,
 9.173236135024416e-05,
 7.596187690765837e-06,
 8.893481501558476e-05,
 0.00011694173962531865,
 0.0002559608011110241,
 0.00024503758738151114,
 7.326232748553434e-05,
 9.255140029087133e-05,
 9.216589861751152e-05,
 6.166167932388193e-06,
 1.2641742347416648e-05,
 0.00012244188296025292,
 1.4337149079374529e-05,
 6.197163882375416e-06,
 2.1401960104237464e-05,
 2.2733252078241257e-05,
 1.303231136702996e-05,
 0.0003206490792428086,
 5.854252529037092e-05,
 0.0005532123577227305,
 4.2872051349009014e-05,
 0.0004123681898932126,
 9.72477755759921e-05,
 0.0005499762223046016,
 0.00014148386509159753,
 0.00019305343258655807,
 0.00047343219216371325,
 0.000429695852642341,
 0.0004177628166170675,
 3.5410978678185464e-05,
 7.72032075740176e-06,
 1.933142007507219e-05,
 5.738822698665453e-05,
 1.5170405704468295e-05,
 3.158870241144101e-05,
 8.851006950253207e-05,
 0.00012560271444728854,
 0.0001707079586159578,
 4.7138614667537065e-05,
 4.937029830192505e-05,
 6.146857074562126e-05,
 0.00030310585102131133,
 5.74501866260608e-05,
 5.004407028017314e-05,
 0.00013126819272136564,
 3.141709654051521e-07,
 0.00014770348918892437,
 0.0,
 0.00037139181425015536,
 0.00010010425237403853,
 1.7785962008686816e-05,
 0.00040272430071864256,
 9.663627359225916e-06,
 0.0003606365761904223,
 0.00023480475180463758,
 0.0006582162235028476,
 0.0007546146482441674,
 0.00012309656802665122,
 3.561675170470632e-05,
 0.001986058057188126,
 0.9554140127388534,
 7.234410631438232e-05,
 0.019246459967363266,
 0.004272421668918484,
 0.0001688715837022751,
 0.00017826097666272115,
 0.0003187881937236826,
 0.004496525944954702,
 0.007363499134788851,
 0.00038416647213792643,
 0.0022989067679815246,
 0.0030475726084173956,
 9.033218205125787e-05,
 0.0013359908719326372,
 0.0005971303651756177,
 4.150692788359948e-05,
 7.047025342187288e-05,
 0.0003862551144172891,
 0.0002542930696051472,
 9.039967442066516e-05,
 0.0019305563384251169,
 1.2978911449351926e-05,
 4.757945443958551e-05,
 0.00025273699971988786,
 0.0004511485559220024,
 0.00016547952296426492,
 0.0003443053450850301,
 9.625846840695743e-05,
 4.0523696617304434e-05,
 2.7103020967764316e-06,
 5.981124874867618e-05,
 2.1909588716035976e-05,
 0.0001638777709715639,
 0.00018541139516621588,
 0.00018308356789777517,
 1.9765789233633902e-05,
 2.6886022469033063e-05,
 3.9534372940918075e-05,
 4.639979752815624e-05,
 7.186019924873429e-05,
 0.00011266153676226944,
 0.00011181882519462137,
 0.00013718765311121999,
 2.9453996539155406e-05,
 0.0008467590857999251,
 0.00016331863465621427,
 7.79541781538169e-05,
 9.168728954521482e-05,
 2.955977055987613e-05,
 5.905428776310795e-06,
 2.5675208611069964e-05,
 1.6560509554140128e-05,
 2.212537713711029e-05,
 4.836046237320123e-05,
 1.910828025477707e-05,
 3.9618443909426144e-05,
 4.223206867903628e-05,
 4.008730123379805e-05,
 0.0001286313500077676,
 0.00016878980891719744,
 0.00011684603558093564,
 2.0883366398663464e-05,
 2.0527062516980106e-05,
 5.526909985508712e-05,
 0.00015658174097664542,
 0.00010724034836864682,
 0.00011391474767270945,
 0.004968152866242038,
 0.0001330189675194426,
 0.000199103562160887,
 7.63157122310605e-05,
 3.814843829830716e-05,
 0.00011403777153505966,
 5.331238250231488e-05,
 6.569723190321675e-05,
 9.521308030730842e-05,
 0.00016056263269639067,
 1.613588110403397e-05,
 1.723129942459768e-05,
 6.212156955256743e-05,
 0.00011606510969568294,
 0.00012738853503184712,
 0.00011922260329903642,
 1.0958153551126635e-05,
 9.052992337288629e-06,
 5.4978209855849814e-05,
 0.00011008031016338964,
 0.00016938475537201653,
 0.00022134887292767763,
 0.00016248537631613155,
 0.00010345493148040919,
 9.099181073703366e-06,
 0.00013104912511896917,
 8.112638283607107e-05,
 0.0001665259765175351,
 3.098640041315201e-05,
 8.371246587807097e-05,
 0.00010971261390302624,
 0.00038747346072186837,
 0.00012738853503184712,
 0.00012738853503184712,
 1.8848303652671258e-05,
 0.0001569279054740146,
 9.554140127388536e-06,
 7.406310176270182e-05,
 0.00021231422505307856,
 0.00015049331834644686,
 0.00015668789808917199,
 7.79645678883436e-05,
 0.00019737359440119524,
 0.00011004455608384917,
 9.750727372808053e-05,
 0.00018007391680427773,
 0.000732484076433121,
 1.135145361669925e-05,
 0.00013183232113760926,
 0.0,
 5.949883672146154e-05,
 9.58232343159912e-05,
 4.46977315901218e-05,
 4.9712599036818394e-05,
 4.5341681960487964e-05,
 1.9736251906342515e-05,
 0.00016451319381255688,
 5.17515923566879e-05,
 2.1817925889432383e-05,
 6.80654427376046e-05,
 2.4448304703081773e-05,
 9.04565647915217e-05,
 5.580294233695959e-05,
 0.00012539808917197453,
 0.0001848687276681684,
 5.277525022747953e-05,
 0.00013786637990459647,
 6.566419331538512e-07,
 0.0001147823779193206,
 0.00013542761733968214,
 0.0006562439683458792,
 0.016942675159235667,
 8.136429011711527e-05,
 0.00010727455581629233,
 1.4668982821849064e-05,
 0.0002253065880787147,
 0.00015845890942985864,
 0.0010403397027600849,
 6.043981589102236e-05,
 0.00018277485461091111,
 7.629687659661432e-05,
 0.00012997510427107246,
 9.628203229151237e-05,
 0.00012272797887214542,
 0.00012215338975656573,
 4.090457546894174e-05,
 1.4750251424740195e-05,
 3.302665723047889e-05,
 6.204415695851622e-05,
 2.5856088793592736e-05,
 0.00011400983043946136,
 0.0012022292993630573,
 0.0006890561667631731,
 inf,
 7.894500762537006e-05,
 0.00016795813217574749,
 0.00012502948808681294,
 5.051614320228421e-05,
 0.0003410093091621754,
 0.00016878980891719744,
 0.0009727851766068327,
 4.826173573893768e-05,
 0.00014740673339399453,
 0.00015191676227400402,
 3.283209665769256e-05,
 1.8090679531149887e-05,
 7.319562233874089e-05,
 8.74695470956001e-05,
 7.80947106064802e-05,
 9.192987064153916e-05,
 0.00010124328985063833,
 0.00012678479789899477,
 1.1692667466691283e-05,
 1.8491884117526195e-05,
 0.0012738853503184713,
 0.00014888535031847133,
 0.00016183952249329008,
 0.00011028940281280725,
 2.9973772948669915e-06,
 1.3727212826707666e-05,
 0.00013405809183979724,
 0.0001463612955685052,
 6.369426751592356e-05,
 6.859382655560999e-05,
 3.184713375796178e-05,
 2.6308501800055385e-05,
 0.00026557270862571523,
 1.540512516664198e-05,
 0.0005227322644410279,
 0.00016891297462786362,
 8.063423228079685e-05,
 0.001437670609645132,
 6.187443130118289e-05,
 0.00015181017128147587,
 0.00022190260941031437,
 5.691828160997425e-05,
 0.00010466956063126293,
 9.468987363329814e-05,
 0.00040127388535031845,
 7.484076433121019e-05,
 1.445543659935854e-05,
 4.729394713757199e-05,
 0.00016653026367291748,
 0.0001592356687898089,
 0.0030148619957537153,
 0.00018850060251334136,
 0.00036924213052709313,
 8.280254777070064e-05,
 0.00013846579894765993,
 0.00011045714746432314,
 0.00010337813052322673,
 7.725498253544278e-05,
 0.00019772576296354187,
 0.00013988927912375737,
 6.191509803223856e-05,
 0.00015127388535031848,
 0.00012389843818165955,
 0.000640582347588717,
 0.00011449802851076737,
 3.928280815960044e-06,
 2.5605735684793395e-05,
 0.0007855626326963907]

In [104]:
df_final['bdips'] = np.array(bdips)

In [84]:
df_final.head(1)

,ID,background_tissue,class,severity,x,y,rad,mean,var,std,min_pixel,max_pixel,min_coor_x,min_coor_y,max_coor_x,max_coor_y
0,mdb001,G,CIRC,B,535,425,197.0,150.781051,3205.504934,56.617179,5.0,221.0,373,710,487,632

312

In [105]:
df_final

,ID,background_tissue,class,severity,x,y,rad,mean,var,std,min_pixel,max_pixel,min_coor_x,min_coor_y,max_coor_x,max_coor_y,bdips
0,mdb001,G,CIRC,B,535,425,197.0,150.781051,3205.504934,56.617179,5.0,221.0,373,710,487,632,0.000007
1,mdb002,G,CIRC,B,522,280,69.0,197.870827,764.537398,27.650269,75.0,229.0,571,792,531,679,0.000055
2,mdb005,F,CIRC,B,477,133,30.0,149.605105,409.222292,20.229243,84.0,187.0,481,920,476,876,0.000087
3,mdb005,F,CIRC,B,500,168,26.0,162.426214,80.178549,8.954248,128.0,181.0,520,841,522,859,0.000578
4,mdb010,F,CIRC,B,525,425,33.0,184.385157,127.091607,11.273491,155.0,208.0,557,599,519,598,0.000287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,mdb318,D,NORM,NaN,442,68,50.0,14.033015,0.505857,0.711236,11.0,35.0,436,951,467,965,0.000641
308,mdb319,D,NORM,NaN,590,281,50.0,145.912938,28.130725,5.303841,130.0,168.0,587,778,637,745,0.000114
309,mdb320,D,NORM,NaN,495,264,50.0,195.578840,470.810515,21.698168,146.0,227.0,451,745,527,722,0.000004
310,mdb321,D,NORM,NaN,604,271,50.0,177.764946,30.464061,5.519426,163.0,199.0,626,740,555,746,0.000026
311,mdb322,D,NORM,NaN,460,115,50.0,8.994009,7.767332,2.786993,6.0,24.0,493,895,446,863,0.000786

In [106]:
df_final.to_csv("final.csv")