In [209]:
from PIL import Image, ImageDraw
import numpy as np
import pandas as pd
import cv2
import fnmatch
import os
import glob

In [210]:
df = pd.read_csv('data.txt', sep=" ", header=None)
df_normal_marked = pd.read_csv('saved.csv')
df.columns = ["ID", "background_tissue", "class",
              "severity", "x", "y", "rad"]
df = df.dropna()
df.index = df.index + 1

In [211]:
df_normal_marked['severity'] = 'N'

In [212]:
df_final = pd.concat([df, df_normal_marked], axis=0)

In [213]:
df_final

         ID background_tissue class severity    x    y    rad  Unnamed: 0
1    mdb001                 G  CIRC        B  535  425  197.0         NaN
2    mdb002                 G  CIRC        B  522  280   69.0         NaN
5    mdb005                 F  CIRC        B  477  133   30.0         NaN
6    mdb005                 F  CIRC        B  500  168   26.0         NaN
11   mdb010                 F  CIRC        B  525  425   33.0         NaN
..      ...               ...   ...      ...  ...  ...    ...         ...
188  mdb318                 D  NORM        N  442   68   50.0       202.0
189  mdb319                 D  NORM        N  590  281   50.0       203.0
190  mdb320                 D  NORM        N  495  264   50.0       204.0
191  mdb321                 D  NORM        N  604  271   50.0       205.0
192  mdb322                 D  NORM        N  460  115   50.0       206.0

[312 rows x 8 columns]

In [214]:
df_final = df_final.reset_index(drop=True)
del df_final["Unnamed: 0"]

In [215]:
df_final

         ID background_tissue class severity    x    y    rad
0    mdb001                 G  CIRC        B  535  425  197.0
1    mdb002                 G  CIRC        B  522  280   69.0
2    mdb005                 F  CIRC        B  477  133   30.0
3    mdb005                 F  CIRC        B  500  168   26.0
4    mdb010                 F  CIRC        B  525  425   33.0
..      ...               ...   ...      ...  ...  ...    ...
307  mdb318                 D  NORM        N  442   68   50.0
308  mdb319                 D  NORM        N  590  281   50.0
309  mdb320                 D  NORM        N  495  264   50.0
310  mdb321                 D  NORM        N  604  271   50.0
311  mdb322                 D  NORM        N  460  115   50.0

[312 rows x 7 columns]

In [254]:
def img_erode():
    for index, row in df_final.iterrows():
        path = 'all-mias/{name}.pgm'.format(name=row['ID'])
        im = cv2.imread('all-mias/{name}.pgm'.format(name=row['ID']), 0)
        #imgÂ =Â cv2.imread('j.png',0)
        kernel = np.ones((5,5),np.uint8)
        erosion = cv2.erode(im,kernel,iterations=1) 
        cv2.imwrite('erode/{}.png'.format(row['ID']), erosion)
img_erode()

In [231]:
def img_canny():
    for index, row in df_final.iterrows():
        path = 'all-mias/{name}.pgm'.format(name=row['ID'])
        im = cv2.imread('all-mias/{name}.pgm'.format(name=row['ID']))
        img_cvt=cv2.cvtColor(im, cv2.COLOR_BGR2RGB)
        fin = cv2.Canny(img_cvt,10,20)
        cv2.imwrite('canny/{}.png'.format(row['ID']), fin)
img_canny()

In [121]:
df_normal = pd.read_csv('data.txt', sep=" ", header=None)
df_normal.columns = ["ID", "background_tissue", "class",
              "severity", "x", "y", "rad"]

In [122]:
df_normal = df_normal.loc[df_normal['class']  == 'NORM']
df_normal = df_normal.reset_index(drop=True)

In [123]:
df_normal

         ID background_tissue class severity    x    y  rad
0    mdb003                 D  NORM      NaN  NaN  NaN  NaN
1    mdb004                 D  NORM      NaN  NaN  NaN  NaN
2    mdb006                 F  NORM      NaN  NaN  NaN  NaN
3    mdb007                 G  NORM      NaN  NaN  NaN  NaN
4    mdb008                 G  NORM      NaN  NaN  NaN  NaN
..      ...               ...   ...      ...  ...  ...  ...
202  mdb318                 D  NORM      NaN  NaN  NaN  NaN
203  mdb319                 D  NORM      NaN  NaN  NaN  NaN
204  mdb320                 D  NORM      NaN  NaN  NaN  NaN
205  mdb321                 D  NORM      NaN  NaN  NaN  NaN
206  mdb322                 D  NORM      NaN  NaN  NaN  NaN

[207 rows x 7 columns]

In [124]:
df['severity'].value_counts()

B    69
M    54
Name: severity, dtype: int64

In [10]:
im = Image.open('all-mias/mdb001.pgm') # PILLOW image processing

In [11]:
im.getpixel( (535,425) )

155

In [110]:
last = 'start'

In [111]:
def img_draw(image, x, y, r, c):
    if c=='M':
        color = 'red'
    else:
        color = 'blue'
    draw = ImageDraw.Draw(image)
    leftUpPoint = (x-r, y-r)
    rightDownPoint = (x+r, y+r)
    twoPointList = [leftUpPoint, rightDownPoint]
    draw.ellipse(twoPointList, outline=color, width=5)

In [ ]:
for index, row in df.iterrows():
    path = 'all-mias/{name}.pgm'.format(name=row['ID'])
    if last != path:
        im = Image.open(path).convert("RGB")
    x = int(row['x'])
    y = int(row['y'])
    r = int(row['rad'])
    c = row['severity']
    img_draw(im, x, 1024 - y, r, c)
    im.save("marked/{}.png".format(row['ID']))
    last = path

In [147]:
df_final

         ID background_tissue class severity    x    y    rad
0    mdb001                 G  CIRC        B  535  425  197.0
1    mdb002                 G  CIRC        B  522  280   69.0
2    mdb003                 D  NORM      NaN  NaN  NaN    NaN
3    mdb004                 D  NORM      NaN  NaN  NaN    NaN
4    mdb005                 F  CIRC        B  477  133   30.0
..      ...               ...   ...      ...  ...  ...    ...
518  mdb318                 D  NORM      NaN  442   68   50.0
519  mdb319                 D  NORM      NaN  590  281   50.0
520  mdb320                 D  NORM      NaN  495  264   50.0
521  mdb321                 D  NORM      NaN  604  271   50.0
522  mdb322                 D  NORM      NaN  460  115   50.0

[523 rows x 7 columns]

In [232]:
## CANNNY
mean = []
var = []
std = []
max_v = []
min_v = []
min_coor_x = []
min_coor_y = []
max_coor_x = []
max_coor_y = []
for index, row in df_final.iterrows():
    path = 'canny/{name}.png'.format(name=row['ID'])
    im = cv2.imread('canny/{name}.png'.format(name=row['ID']))
    h,w,d = im.shape
    x = int(row['x'])
    y = int(row['y'])
    r = int(row['rad'])
    #c = row['severity']
    mask = np.zeros((h,w), np.uint8)
    cv2.circle(mask,(x,1024-y),r ,1,thickness=-1)
    masked_data = cv2.bitwise_and(im, im, mask=mask)
    
    mean.append(cv2.meanStdDev(im, mask = mask)[0][0])
    var.append(np.power(cv2.meanStdDev(im, mask = mask)[1][0], 2))
    std.append(cv2.meanStdDev(im, mask = mask)[1][0])
    
    gray = cv2.cvtColor(im, cv2.COLOR_BGR2GRAY)
    min_val, max_val, min_loc, max_loc = cv2.minMaxLoc(gray, mask = mask)
    
    max_v.append(max_val)
    min_v.append(min_val)
    min_coor_x.append(min_loc[0])
    min_coor_y.append(min_loc[1])
    max_coor_x.append(max_loc[0])
    max_coor_y.append(max_loc[1])

In [255]:
## Erode
mean = []
var = []
std = []
max_v = []
min_v = []
min_coor_x = []
min_coor_y = []
max_coor_x = []
max_coor_y = []
for index, row in df_final.iterrows():
    path = 'erode/{name}.png'.format(name=row['ID'])
    im = cv2.imread('erode/{name}.png'.format(name=row['ID']))
    h,w,d = im.shape
    x = int(row['x'])
    y = int(row['y'])
    r = int(row['rad'])
    #c = row['severity']
    mask = np.zeros((h,w), np.uint8)
    cv2.circle(mask,(x,1024-y),r ,1,thickness=-1)
    masked_data = cv2.bitwise_and(im, im, mask=mask)
    
    mean.append(cv2.meanStdDev(im, mask = mask)[0][0])
    var.append(np.power(cv2.meanStdDev(im, mask = mask)[1][0], 2))
    std.append(cv2.meanStdDev(im, mask = mask)[1][0])
    
    gray = cv2.cvtColor(im, cv2.COLOR_BGR2GRAY)
    min_val, max_val, min_loc, max_loc = cv2.minMaxLoc(gray, mask = mask)
    
    max_v.append(max_val)
    min_v.append(min_val)
    min_coor_x.append(min_loc[0])
    min_coor_y.append(min_loc[1])
    max_coor_x.append(max_loc[0])
    max_coor_y.append(max_loc[1])

In [256]:
df_final['mean_erode'] = np.array(mean)
df_final['var_erode'] = np.array(var)
df_final['std_erode'] = np.array(std)
df_final['min_pixel_erode'] = np.array(min_v)
df_final['max_pixel_erode'] = np.array(max_v)
df_final['min_coor_x_erode'] = np.array(min_coor_x)
df_final['min_coor_y_erode'] = np.array(min_coor_y)
df_final['max_coor_x_erode'] = np.array(max_coor_x)
df_final['max_coor_y_erode'] = np.array(max_coor_y)

In [233]:
df_final['mean_canny'] = np.array(mean)
df_final['var_canny'] = np.array(var)
df_final['std_canny'] = np.array(std)
df_final['min_pixel_canny'] = np.array(min_v)
df_final['max_pixel_canny'] = np.array(max_v)
df_final['min_coor_x_canny'] = np.array(min_coor_x)
df_final['min_coor_y_canny'] = np.array(min_coor_y)
df_final['max_coor_x_canny'] = np.array(max_coor_x)
df_final['max_coor_y_canny'] = np.array(max_coor_y)

In [216]:
mean = []
var = []
std = []
max_v = []
min_v = []
min_coor_x = []
min_coor_y = []
max_coor_x = []
max_coor_y = []
for index, row in df_final.iterrows():
    path = 'all-mias/{name}.pgm'.format(name=row['ID'])
    im = cv2.imread('all-mias/{name}.pgm'.format(name=row['ID']))
    h,w,d = im.shape
    x = int(row['x'])
    y = int(row['y'])
    r = int(row['rad'])
    #c = row['severity']
    mask = np.zeros((h,w), np.uint8)
    cv2.circle(mask,(x,1024-y),r ,1,thickness=-1)
    masked_data = cv2.bitwise_and(im, im, mask=mask)
    
    mean.append(cv2.meanStdDev(im, mask = mask)[0][0])
    var.append(np.power(cv2.meanStdDev(im, mask = mask)[1][0], 2))
    std.append(cv2.meanStdDev(im, mask = mask)[1][0])
    
    gray = cv2.cvtColor(im, cv2.COLOR_BGR2GRAY)
    min_val, max_val, min_loc, max_loc = cv2.minMaxLoc(gray, mask = mask)
    
    max_v.append(max_val)
    min_v.append(min_val)
    min_coor_x.append(min_loc[0])
    min_coor_y.append(min_loc[1])
    max_coor_x.append(max_loc[0])
    max_coor_y.append(max_loc[1])

In [217]:
df_final['mean'] = np.array(mean)
df_final['var'] = np.array(var)
df_final['std'] = np.array(std)
df_final['min_pixel'] = np.array(min_v)
df_final['max_pixel'] = np.array(max_v)
df_final['min_coor_x'] = np.array(min_coor_x)
df_final['min_coor_y'] = np.array(min_coor_y)
df_final['max_coor_x'] = np.array(max_coor_x)
df_final['max_coor_y'] = np.array(max_coor_y)

In [257]:
df_final

,ID,background_tissue,class,severity,x,y,rad,mean,var,std,...,std_canny,mean_erode,var_erode,std_erode,min_pixel_erode,max_pixel_erode,min_coor_x_erode,min_coor_y_erode,max_coor_x_erode,max_coor_y_erode
0,mdb001,G,CIRC,B,535,425,197.0,150.781051,3205.504934,56.617179,...,112.945588,145.328215,3258.043762,57.079276,5.0,217.0,371,708,584,598
1,mdb002,G,CIRC,B,522,280,69.0,197.870827,764.537398,27.650269,...,103.247451,193.119138,904.499352,30.074896,58.0,226.0,569,794,528,676
2,mdb005,F,CIRC,B,477,133,30.0,149.605105,409.222292,20.229243,...,117.540999,142.003899,500.080453,22.362479,76.0,174.0,464,918,475,876
3,mdb005,F,CIRC,B,500,168,26.0,162.426214,80.178549,8.954248,...,116.307381,156.487977,94.573288,9.724880,126.0,173.0,493,831,521,861
4,mdb010,F,CIRC,B,525,425,33.0,184.385157,127.091607,11.273491,...,119.127056,178.766207,134.473062,11.596252,154.0,200.0,558,599,520,599
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,mdb318,D,NORM,N,442,68,50.0,14.033015,0.505857,0.711236,...,12.200599,13.095857,0.230200,0.479791,11.0,14.0,434,949,442,906
308,mdb319,D,NORM,N,590,281,50.0,145.912938,28.130725,5.303841,...,118.449283,141.277884,21.720868,4.660565,130.0,159.0,585,776,639,743
309,mdb320,D,NORM,N,495,264,50.0,195.578840,470.810515,21.698168,...,108.471641,190.905163,514.108278,22.673956,145.0,224.0,486,809,524,720
310,mdb321,D,NORM,N,604,271,50.0,177.764946,30.464061,5.519426,...,118.201415,173.387763,24.682272,4.968126,163.0,191.0,624,738,555,747
311,mdb322,D,NORM,N,460,115,50.0,8.994009,7.767332,2.786993,...,10.762666,8.040153,6.553263,2.559934,6.0,16.0,491,893,460,859

In [258]:
df_final.to_csv("finErode.csv")

In [259]:
all_coor = []
def get_all_coor():
    for index, row in df_final.iterrows():
        coordinates = []
        for x in range( int(row['x']) - int(row['rad']) ,  int(row['x']) + int(row['rad']) ) :
            for y in range( int(row['y']) - int(row['rad']), int(row['y']) + int(row['rad']) ):
                dx = x - int(row['x'])
                dy = y - int(row['y'])
                distanceSquared = dx * dx + dy * dy
                if (distanceSquared <= row['rad']**2):
                    coordinates.append((x,y))
        all_coor.append(coordinates)

In [260]:
get_all_coor()

In [261]:
bdips = []
#original is all-mias
def bdip():    
    for index, row in df_final.iterrows():
        path = 'erode/{name}.png'.format(name=row['ID'])
        im = cv2.imread('erode/{name}.png'.format(name=row['ID']))
        s = 0
        for x, y in all_coor[index]:
            s += im[row['max_coor_y'],row['max_coor_x']] - im[y, x]
        bdips.append( (s[0]/(row['rad']**2*3.14*im[row['max_coor_y'],row['max_coor_x']]))[0] )

In [80]:
im = cv2.imread('all-mias/mdb001.pgm')

In [262]:
bdip()
bdips

<ipython-input-261-1b548d193135>:10: RuntimeWarning: divide by zero encountered in true_divide
  bdips.append( (s[0]/(row['rad']**2*3.14*im[row['max_coor_y'],row['max_coor_x']]))[0] )

[7.625498936395408e-06,
 6.33241334961923e-05,
 1.0286541911486364e-05,
 0.0006198834817417039,
 7.347835079428774e-06,
 2.575871112776321e-05,
 7.647594754973613e-05,
 3.73206478234761e-06,
 8.977526429837809e-05,
 3.299530435904793e-05,
 3.9992298549760605e-06,
 0.00020886054354180163,
 3.983378076649275e-05,
 1.048907945702727e-05,
 8.287007876037281e-05,
 4.874063936021087e-05,
 0.00019614146935280626,
 0.0002003039973707296,
 9.99108351302482e-05,
 0.00027080896052688593,
 0.0006746834281557642,
 0.001056656444129905,
 1.7397988402825692e-06,
 0.00015842181554134163,
 4.441652301470737e-05,
 0.00033023306311522874,
 3.2899731642694825e-05,
 2.7178114819417913e-05,
 6.2678582943939e-05,
 6.802544777580934e-05,
 2.8069747709107593e-05,
 7.533072023517883e-05,
 5.388545643137015e-06,
 2.3560427998460527e-05,
 0.00012307302668685216,
 2.4836178579197326e-06,
 1.0386054808723436e-06,
 2.56053344087921e-05,
 7.325930559656532e-06,
 8.797656426730095e-06,
 0.00021182418403032185,
 1.3646082727259038e-05,
 0.0002633860306069618,
 7.594802578879012e-05,
 0.00013325520279894385,
 7.51773584239939e-06,
 0.0013722810962726038,
 0.0001406799794944862,
 0.0001368729155965866,
 0.00031846080994953687,
 0.0004628332294062354,
 0.0005186122263828719,
 9.340924191786809e-05,
 1.16561194137934e-05,
 9.361930579213532e-05,
 3.078954562072562e-05,
 2.6680930923500177e-05,
 3.9037355350524226e-05,
 1.1353452792849824e-05,
 5.4418403314575476e-05,
 2.0264616093848607e-05,
 0.00030245643905120435,
 2.0922656214621166e-05,
 9.892411125836514e-06,
 0.00026687497616902344,
 5.727795000733039e-05,
 4.581853542440852e-05,
 0.00010323818858404717,
 1.591255539065056e-06,
 8.713566163834752e-05,
 6.972255474963611e-05,
 0.0005512325724377021,
 3.2171349468718755e-05,
 2.18995960259012e-06,
 0.0010243432360671169,
 2.351060255050139e-05,
 0.0002758739678626607,
 7.754354457745747e-05,
 0.0001553026296928378,
 0.0002102036950242492,
 0.0010189318418406055,
 4.425892373824636e-05,
 0.001647544028729722,
 0.9554140127388535,
 0.0001958636113872981,
 0.03496792726671129,
 0.007248444460807775,
 0.0004165499064656119,
 0.001509374484491845,
 2.2016379834334667e-05,
 0.004190412336573918,
 0.0018444285960209526,
 0.0006203267792855165,
 0.0028758065183224417,
 0.0036074772870798,
 0.0001572116983161232,
 0.001484914204611537,
 0.0006438516991617793,
 0.0002404701089592292,
 0.00024917757401833834,
 0.0005559241830056851,
 8.409384848103662e-05,
 0.00012461318385191487,
 0.00332784656122522,
 0.00020692426187963775,
 1.586771253087222e-05,
 0.00034616449736914976,
 0.00020502282153096786,
 8.605988762353663e-05,
 0.00034047489794042883,
 4.11171914715469e-05,
 3.7893044849844106e-05,
 5.297073417713393e-05,
 3.691870964257626e-05,
 2.678138515982347e-05,
 0.00011795234725171031,
 0.0003314235211653918,
 0.00020467763202377758,
 2.952228616457427e-05,
 0.0001214171974522293,
 2.173453678268482e-05,
 0.00011822389222380057,
 0.0001317812431363936,
 3.6396724294813465e-05,
 0.00015108872759591173,
 0.0013248407643312102,
 4.192534064339273e-05,
 0.0008775654635527247,
 3.0797228249457546e-05,
 3.29453107840984e-05,
 0.00018846522991013002,
 0.00014447724095075347,
 0.00016237552704763614,
 5.3637277908146164e-05,
 0.0003475491553586264,
 8.329250367466928e-05,
 7.375125712370097e-05,
 3.5806507144086765e-05,
 0.00012281561326147315,
 2.015185864910576e-05,
 6.274360680673068e-05,
 0.00010881104033970275,
 8.064885671080969e-05,
 4.2462845010615714e-05,
 8.029337965643698e-05,
 0.0001397634212920837,
 2.490837277159022e-05,
 7.909288164065234e-05,
 2.2521729950381813e-05,
 0.00013539200320138726,
 inf,
 0.00011050571713606017,
 0.0002610938569247776,
 8.369488291947445e-05,
 0.00015185864910576127,
 2.7619638126373937e-05,
 9.32666060054595e-05,
 0.00023323342075683777,
 0.00012108910198082173,
 3.34483862932783e-05,
 0.00018369795993722883,
 0.0001573248407643312,
 7.254069355980184e-05,
 7.213567646381705e-05,
 2.788604746965808e-05,
 0.00014012738853503185,
 9.284249163338011e-05,
 4.8995590396864285e-05,
 0.00010641603231318937,
 0.00012663026994237184,
 3.913242579409683e-05,
 3.4841308726659045e-05,
 0.00015546880350660914,
 0.0002077544564613346,
 0.00017321733726891408,
 9.099181073703367e-05,
 9.661490016460317e-05,
 0.0001453535848440307,
 2.888460968745371e-05,
 0.0001055137360869845,
 6.657491278046283e-05,
 3.135717785399314e-05,
 0.00018645049218297627,
 0.00010074093331600157,
 9.020485453606473e-05,
 0.00010090180992621555,
 0.00027199173695988983,
 4.225869671729544e-05,
 0.00025155204386035637,
 4.073846551779883e-05,
 0.00029431144300461233,
 3.348498635122839e-05,
 4.787757021331168e-05,
 0.0002231495717109598,
 4.022795843110962e-05,
 5.4469580496376015e-05,
 0.002459578637922587,
 3.89242745930644e-05,
 1.1077263915812794e-05,
 0.0001592356687898089,
 0.0002025151069737057,
 0.00015863477947362096,
 6.715054559818299e-05,
 8.148275664199231e-05,
 6.784004824181209e-06,
 0.00023657870791628753,
 0.0001110765884728911,
 1.5085484411666108e-05,
 8.441408947893485e-05,
 0.00012400054207887246,
 0.00014086880328918546,
 2.5359754659117717e-05,
 9.88860774219818e-06,
 0.00021088690253171332,
 0.00021351036153225084,
 0.00011516438268030625,
 4.8475283242207316e-05,
 2.1939136588818118e-05,
 0.00013800424628450107,
 1.7548420642142207e-05,
 0.0005299363057324841,
 inf,
 0.00021168977144998127,
 0.00018789808917197453,
 6.58906215681968e-05,
 0.00034989384288747346,
 0.00011215729714760454,
 0.0011646951774340309,
 6.163961372508732e-05,
 0.00016342608112638284,
 0.00010651696714527331,
 0.00014382576535853709,
 2.8308563340410474e-05,
 4.135991397137894e-06,
 6.271435570798628e-05,
 0.00010797694874127995,
 0.00036290919863723895,
 0.00026004105911459703,
 4.440400363967243e-05,
 0.00011386684695584102,
 8.452884100244062e-05,
 0.0003821656050955414,
 0.0008572904114305389,
 inf,
 0.00012925275749572782,
 7.950490129647197e-05,
 3.6020206457280915e-05,
 0.0006144623454477332,
 0.0010975012248897599,
 0.00020504318994852107,
 0.0011512149091766927,
 2.384899514294855e-05,
 0.00044690404093139817,
 0.00018850060251334136,
 0.00010429061384475398,
 0.00015040065748921305,
 0.00017544528776841222,
 9.210250889626506e-05,
 0.00011611521334761287,
 0.00010569048785609295,
 8.28589143791218e-05,
 0.00012174076746885883,
 0.0001242353534716529,
 0.0001753381521505761,
 inf,
 0.0001654281670205237,
 0.00022102455223474332,
 7.832035857513564e-05,
 1.2659730189500336e-05,
 0.00013939373728615734,
 6.813805362168568e-05,
 0.00018669009444322425,
 9.284249163338011e-05,
 8.031016338964275e-05,
 0.00018106798061130473,
 0.0001144208398489645,
 0.0025477707006369425,
 5.953333546714464e-05,
 0.0005295366554265019,
 8.149701309490841e-05,
 8.692394155114275e-05,
 0.0014522292993630573,
 0.0001135145361669925,
 8.89584741842508e-05,
 0.00017288444040036396,
 4.418099480873311e-05,
 0.00011751345479682022,
 0.00016985138004246286,
 0.0003768577494692144,
 9.554140127388535e-05,
 0.0001950636942675159,
 0.0002506677624820218,
 3.628643119088979e-05,
 5.6414922656960876e-05,
 inf,
 6.744098913450731e-05,
 0.00025477707006369424,
 0.0001248063349974178,
 0.00023973118009930287,
 0.0002140474024004506,
 0.00017106460418562329,
 0.0002049293824425367,
 7.889870556811178e-05,
 2.4497795198432143e-06,
 4.45859872611465e-05,
 0.0006114649681528663,
 0.00010428084728188416,
 0.0020186183243508086,
 4.326403076553299e-05,
 3.6396724294813465e-05,
 8.741021818674617e-05,
 0.0001910828025477707]

In [263]:
df_final['bdips_erode'] = np.array(bdips)

In [264]:
df_final.to_csv("final_with_erode.csv")

In [265]:
df_final

,ID,background_tissue,class,severity,x,y,rad,mean,var,std,...,mean_erode,var_erode,std_erode,min_pixel_erode,max_pixel_erode,min_coor_x_erode,min_coor_y_erode,max_coor_x_erode,max_coor_y_erode,bdips_erode
0,mdb001,G,CIRC,B,535,425,197.0,150.781051,3205.504934,56.617179,...,145.328215,3258.043762,57.079276,5.0,217.0,371,708,584,598,0.000008
1,mdb002,G,CIRC,B,522,280,69.0,197.870827,764.537398,27.650269,...,193.119138,904.499352,30.074896,58.0,226.0,569,794,528,676,0.000063
2,mdb005,F,CIRC,B,477,133,30.0,149.605105,409.222292,20.229243,...,142.003899,500.080453,22.362479,76.0,174.0,464,918,475,876,0.000010
3,mdb005,F,CIRC,B,500,168,26.0,162.426214,80.178549,8.954248,...,156.487977,94.573288,9.724880,126.0,173.0,493,831,521,861,0.000620
4,mdb010,F,CIRC,B,525,425,33.0,184.385157,127.091607,11.273491,...,178.766207,134.473062,11.596252,154.0,200.0,558,599,520,599,0.000007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,mdb318,D,NORM,N,442,68,50.0,14.033015,0.505857,0.711236,...,13.095857,0.230200,0.479791,11.0,14.0,434,949,442,906,0.002019
308,mdb319,D,NORM,N,590,281,50.0,145.912938,28.130725,5.303841,...,141.277884,21.720868,4.660565,130.0,159.0,585,776,639,743,0.000043
309,mdb320,D,NORM,N,495,264,50.0,195.578840,470.810515,21.698168,...,190.905163,514.108278,22.673956,145.0,224.0,486,809,524,720,0.000036
310,mdb321,D,NORM,N,604,271,50.0,177.764946,30.464061,5.519426,...,173.387763,24.682272,4.968126,163.0,191.0,624,738,555,747,0.000087
311,mdb322,D,NORM,N,460,115,50.0,8.994009,7.767332,2.786993,...,8.040153,6.553263,2.559934,6.0,16.0,491,893,460,859,0.000191

In [246]:
df_final

,ID,background_tissue,class,severity,x,y,rad,mean,var,std,min_pixel,max_pixel,min_coor_x,min_coor_y,max_coor_x,max_coor_y,bdips,mean_canny,var_canny,std_canny
0,mdb001,G,CIRC,B,535,425,197.0,150.781051,3205.504934,56.617179,5.0,221.0,373,710,487,632,0.000007,68.343054,12756.705742,112.945588
1,mdb002,G,CIRC,B,522,280,69.0,197.870827,764.537398,27.650269,75.0,229.0,571,792,531,679,0.000055,52.692153,10660.036075,103.247451
2,mdb005,F,CIRC,B,477,133,30.0,149.605105,409.222292,20.229243,84.0,187.0,481,920,476,876,0.000087,78.099965,13815.886498,117.540999
3,mdb005,F,CIRC,B,500,168,26.0,162.426214,80.178549,8.954248,128.0,181.0,520,841,522,859,0.000578,75.261669,13527.406777,116.307381
4,mdb010,F,CIRC,B,525,425,33.0,184.385157,127.091607,11.273491,155.0,208.0,557,599,519,598,0.000287,82.057788,14191.255387,119.127056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,mdb318,D,NORM,N,442,68,50.0,14.033015,0.505857,0.711236,11.0,35.0,436,951,467,965,0.000641,0.585086,148.854615,12.200599
308,mdb319,D,NORM,N,590,281,50.0,145.912938,28.130725,5.303841,130.0,168.0,587,778,637,745,0.000114,80.319312,14030.232648,118.449283
309,mdb320,D,NORM,N,495,264,50.0,195.578840,470.810515,21.698168,146.0,227.0,451,745,527,722,0.000004,60.491396,11766.096962,108.471641
310,mdb321,D,NORM,N,604,271,50.0,177.764946,30.464061,5.519426,163.0,199.0,626,740,555,746,0.000026,79.701721,13971.574509,118.201415
311,mdb322,D,NORM,N,460,115,50.0,8.994009,7.767332,2.786993,6.0,24.0,493,895,446,863,0.000786,0.455067,115.834979,10.762666

In [106]:
df_final.to_csv("final.csv")

In [185]:
df_final.to_csv("final2.csv")