In [209]:
from PIL import Image, ImageDraw
import numpy as np
import pandas as pd
import cv2
import fnmatch
import os
import glob

In [210]:
df = pd.read_csv('data.txt', sep=" ", header=None)
df_normal_marked = pd.read_csv('saved.csv')
df.columns = ["ID", "background_tissue", "class",
              "severity", "x", "y", "rad"]
df = df.dropna()
df.index = df.index + 1

In [211]:
df_normal_marked['severity'] = 'N'

In [212]:
df_final = pd.concat([df, df_normal_marked], axis=0)

In [213]:
df_final

         ID background_tissue class severity    x    y    rad  Unnamed: 0
1    mdb001                 G  CIRC        B  535  425  197.0         NaN
2    mdb002                 G  CIRC        B  522  280   69.0         NaN
5    mdb005                 F  CIRC        B  477  133   30.0         NaN
6    mdb005                 F  CIRC        B  500  168   26.0         NaN
11   mdb010                 F  CIRC        B  525  425   33.0         NaN
..      ...               ...   ...      ...  ...  ...    ...         ...
188  mdb318                 D  NORM        N  442   68   50.0       202.0
189  mdb319                 D  NORM        N  590  281   50.0       203.0
190  mdb320                 D  NORM        N  495  264   50.0       204.0
191  mdb321                 D  NORM        N  604  271   50.0       205.0
192  mdb322                 D  NORM        N  460  115   50.0       206.0

[312 rows x 8 columns]

In [214]:
df_final = df_final.reset_index(drop=True)
del df_final["Unnamed: 0"]

In [215]:
df_final

         ID background_tissue class severity    x    y    rad
0    mdb001                 G  CIRC        B  535  425  197.0
1    mdb002                 G  CIRC        B  522  280   69.0
2    mdb005                 F  CIRC        B  477  133   30.0
3    mdb005                 F  CIRC        B  500  168   26.0
4    mdb010                 F  CIRC        B  525  425   33.0
..      ...               ...   ...      ...  ...  ...    ...
307  mdb318                 D  NORM        N  442   68   50.0
308  mdb319                 D  NORM        N  590  281   50.0
309  mdb320                 D  NORM        N  495  264   50.0
310  mdb321                 D  NORM        N  604  271   50.0
311  mdb322                 D  NORM        N  460  115   50.0

[312 rows x 7 columns]

In [231]:
def img_canny():
    for index, row in df_final.iterrows():
        path = 'all-mias/{name}.pgm'.format(name=row['ID'])
        im = cv2.imread('all-mias/{name}.pgm'.format(name=row['ID']))
        img_cvt=cv2.cvtColor(im, cv2.COLOR_BGR2RGB)
        fin = cv2.Canny(img_cvt,10,20)
        cv2.imwrite('canny/{}.png'.format(row['ID']), fin)
img_canny()

In [121]:
df_normal = pd.read_csv('data.txt', sep=" ", header=None)
df_normal.columns = ["ID", "background_tissue", "class",
              "severity", "x", "y", "rad"]

In [122]:
df_normal = df_normal.loc[df_normal['class']  == 'NORM']
df_normal = df_normal.reset_index(drop=True)

In [123]:
df_normal

         ID background_tissue class severity    x    y  rad
0    mdb003                 D  NORM      NaN  NaN  NaN  NaN
1    mdb004                 D  NORM      NaN  NaN  NaN  NaN
2    mdb006                 F  NORM      NaN  NaN  NaN  NaN
3    mdb007                 G  NORM      NaN  NaN  NaN  NaN
4    mdb008                 G  NORM      NaN  NaN  NaN  NaN
..      ...               ...   ...      ...  ...  ...  ...
202  mdb318                 D  NORM      NaN  NaN  NaN  NaN
203  mdb319                 D  NORM      NaN  NaN  NaN  NaN
204  mdb320                 D  NORM      NaN  NaN  NaN  NaN
205  mdb321                 D  NORM      NaN  NaN  NaN  NaN
206  mdb322                 D  NORM      NaN  NaN  NaN  NaN

[207 rows x 7 columns]

In [124]:
df['severity'].value_counts()

B    69
M    54
Name: severity, dtype: int64

In [10]:
im = Image.open('all-mias/mdb001.pgm') # PILLOW image processing

In [11]:
im.getpixel( (535,425) )

155

In [110]:
last = 'start'

In [111]:
def img_draw(image, x, y, r, c):
    if c=='M':
        color = 'red'
    else:
        color = 'blue'
    draw = ImageDraw.Draw(image)
    leftUpPoint = (x-r, y-r)
    rightDownPoint = (x+r, y+r)
    twoPointList = [leftUpPoint, rightDownPoint]
    draw.ellipse(twoPointList, outline=color, width=5)

In [ ]:
for index, row in df.iterrows():
    path = 'all-mias/{name}.pgm'.format(name=row['ID'])
    if last != path:
        im = Image.open(path).convert("RGB")
    x = int(row['x'])
    y = int(row['y'])
    r = int(row['rad'])
    c = row['severity']
    img_draw(im, x, 1024 - y, r, c)
    im.save("marked/{}.png".format(row['ID']))
    last = path

In [147]:
df_final

         ID background_tissue class severity    x    y    rad
0    mdb001                 G  CIRC        B  535  425  197.0
1    mdb002                 G  CIRC        B  522  280   69.0
2    mdb003                 D  NORM      NaN  NaN  NaN    NaN
3    mdb004                 D  NORM      NaN  NaN  NaN    NaN
4    mdb005                 F  CIRC        B  477  133   30.0
..      ...               ...   ...      ...  ...  ...    ...
518  mdb318                 D  NORM      NaN  442   68   50.0
519  mdb319                 D  NORM      NaN  590  281   50.0
520  mdb320                 D  NORM      NaN  495  264   50.0
521  mdb321                 D  NORM      NaN  604  271   50.0
522  mdb322                 D  NORM      NaN  460  115   50.0

[523 rows x 7 columns]

In [232]:
## CANNNY
mean = []
var = []
std = []
max_v = []
min_v = []
min_coor_x = []
min_coor_y = []
max_coor_x = []
max_coor_y = []
for index, row in df_final.iterrows():
    path = 'canny/{name}.png'.format(name=row['ID'])
    im = cv2.imread('canny/{name}.png'.format(name=row['ID']))
    h,w,d = im.shape
    x = int(row['x'])
    y = int(row['y'])
    r = int(row['rad'])
    #c = row['severity']
    mask = np.zeros((h,w), np.uint8)
    cv2.circle(mask,(x,1024-y),r ,1,thickness=-1)
    masked_data = cv2.bitwise_and(im, im, mask=mask)
    
    mean.append(cv2.meanStdDev(im, mask = mask)[0][0])
    var.append(np.power(cv2.meanStdDev(im, mask = mask)[1][0], 2))
    std.append(cv2.meanStdDev(im, mask = mask)[1][0])
    
    gray = cv2.cvtColor(im, cv2.COLOR_BGR2GRAY)
    min_val, max_val, min_loc, max_loc = cv2.minMaxLoc(gray, mask = mask)
    
    max_v.append(max_val)
    min_v.append(min_val)
    min_coor_x.append(min_loc[0])
    min_coor_y.append(min_loc[1])
    max_coor_x.append(max_loc[0])
    max_coor_y.append(max_loc[1])

In [233]:
df_final['mean_canny'] = np.array(mean)
df_final['var_canny'] = np.array(var)
df_final['std_canny'] = np.array(std)
df_final['min_pixel_canny'] = np.array(min_v)
df_final['max_pixel_canny'] = np.array(max_v)
df_final['min_coor_x_canny'] = np.array(min_coor_x)
df_final['min_coor_y_canny'] = np.array(min_coor_y)
df_final['max_coor_x_canny'] = np.array(max_coor_x)
df_final['max_coor_y_canny'] = np.array(max_coor_y)

In [216]:
mean = []
var = []
std = []
max_v = []
min_v = []
min_coor_x = []
min_coor_y = []
max_coor_x = []
max_coor_y = []
for index, row in df_final.iterrows():
    path = 'all-mias/{name}.pgm'.format(name=row['ID'])
    im = cv2.imread('all-mias/{name}.pgm'.format(name=row['ID']))
    h,w,d = im.shape
    x = int(row['x'])
    y = int(row['y'])
    r = int(row['rad'])
    #c = row['severity']
    mask = np.zeros((h,w), np.uint8)
    cv2.circle(mask,(x,1024-y),r ,1,thickness=-1)
    masked_data = cv2.bitwise_and(im, im, mask=mask)
    
    mean.append(cv2.meanStdDev(im, mask = mask)[0][0])
    var.append(np.power(cv2.meanStdDev(im, mask = mask)[1][0], 2))
    std.append(cv2.meanStdDev(im, mask = mask)[1][0])
    
    gray = cv2.cvtColor(im, cv2.COLOR_BGR2GRAY)
    min_val, max_val, min_loc, max_loc = cv2.minMaxLoc(gray, mask = mask)
    
    max_v.append(max_val)
    min_v.append(min_val)
    min_coor_x.append(min_loc[0])
    min_coor_y.append(min_loc[1])
    max_coor_x.append(max_loc[0])
    max_coor_y.append(max_loc[1])

In [217]:
df_final['mean'] = np.array(mean)
df_final['var'] = np.array(var)
df_final['std'] = np.array(std)
df_final['min_pixel'] = np.array(min_v)
df_final['max_pixel'] = np.array(max_v)
df_final['min_coor_x'] = np.array(min_coor_x)
df_final['min_coor_y'] = np.array(min_coor_y)
df_final['max_coor_x'] = np.array(max_coor_x)
df_final['max_coor_y'] = np.array(max_coor_y)

In [234]:
df_final

,ID,background_tissue,class,severity,x,y,rad,mean,var,std,...,bdips,mean_canny,var_canny,std_canny,min_pixel_canny,max_pixel_canny,min_coor_x_canny,min_coor_y_canny,max_coor_x_canny,max_coor_y_canny
0,mdb001,G,CIRC,B,535,425,197.0,150.781051,3205.504934,56.617179,...,0.000007,68.343054,12756.705742,112.945588,0.0,255.0,517,403,535,402
1,mdb002,G,CIRC,B,522,280,69.0,197.870827,764.537398,27.650269,...,0.000055,52.692153,10660.036075,103.247451,0.0,255.0,522,675,542,678
2,mdb005,F,CIRC,B,477,133,30.0,149.605105,409.222292,20.229243,...,0.000087,78.099965,13815.886498,117.540999,0.0,255.0,477,861,471,862
3,mdb005,F,CIRC,B,500,168,26.0,162.426214,80.178549,8.954248,...,0.000578,75.261669,13527.406777,116.307381,0.0,255.0,500,830,493,831
4,mdb010,F,CIRC,B,525,425,33.0,184.385157,127.091607,11.273491,...,0.000287,82.057788,14191.255387,119.127056,0.0,255.0,525,566,517,567
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,mdb318,D,NORM,N,442,68,50.0,14.033015,0.505857,0.711236,...,0.000641,0.585086,148.854615,12.200599,0.0,255.0,442,906,458,916
308,mdb319,D,NORM,N,590,281,50.0,145.912938,28.130725,5.303841,...,0.000114,80.319312,14030.232648,118.449283,0.0,255.0,583,694,590,693
309,mdb320,D,NORM,N,495,264,50.0,195.578840,470.810515,21.698168,...,0.000004,60.491396,11766.096962,108.471641,0.0,255.0,495,710,493,711
310,mdb321,D,NORM,N,604,271,50.0,177.764946,30.464061,5.519426,...,0.000026,79.701721,13971.574509,118.201415,0.0,255.0,604,703,595,704
311,mdb322,D,NORM,N,460,115,50.0,8.994009,7.767332,2.786993,...,0.000786,0.455067,115.834979,10.762666,0.0,255.0,460,859,445,863

In [223]:
df_final.to_csv("test.csv")

In [224]:
all_coor = []
def get_all_coor():
    for index, row in df_final.iterrows():
        coordinates = []
        for x in range( int(row['x']) - int(row['rad']) ,  int(row['x']) + int(row['rad']) ) :
            for y in range( int(row['y']) - int(row['rad']), int(row['y']) + int(row['rad']) ):
                dx = x - int(row['x'])
                dy = y - int(row['y'])
                distanceSquared = dx * dx + dy * dy
                if (distanceSquared <= row['rad']**2):
                    coordinates.append((x,y))
        all_coor.append(coordinates)

In [225]:
get_all_coor()

In [237]:
bdips = []
#original is all-mias
def bdip():    
    for index, row in df_final.iterrows():
        path = 'canny/{name}.png'.format(name=row['ID'])
        im = cv2.imread('canny/{name}.png'.format(name=row['ID']))
        s = 0
        for x, y in all_coor[index]:
            s += im[row['max_coor_y'],row['max_coor_x']] - im[y, x]
        bdips.append( (s[0]/(row['rad']**2*3.14*im[row['max_coor_y'],row['max_coor_x']]))[0] )

In [80]:
im = cv2.imread('all-mias/mdb001.pgm')

In [238]:
bdip()
bdips

<ipython-input-237-b11a326ef535>:10: RuntimeWarning: divide by zero encountered in true_divide
  bdips.append( (s[0]/(row['rad']**2*3.14*im[row['max_coor_y'],row['max_coor_x']]))[0] )
<ipython-input-237-b11a326ef535>:10: RuntimeWarning: invalid value encountered in true_divide
  bdips.append( (s[0]/(row['rad']**2*3.14*im[row['max_coor_y'],row['max_coor_x']]))[0] )

[inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 3.089744390325132e-05,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 0.00023372743556382492,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 0.00012521595687107115,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 6.494317472211815e-05,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 nan,
 inf,
 nan,
 0.0024392718870987883,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 0.0005607338476791991,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 7.293618084176346e-05,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 5.495191707256151e-05,
 2.6976395653802924e-05,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 5.9447983014862e-05,
 inf,
 inf,
 2.9973772948669915e-06,
 inf,
 inf,
 inf,
 inf,
 inf,
 1.298863494442363e-05,
 inf,
 inf,
 5.695016860247284e-05,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 9.291869614087674e-05,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf,
 inf]

In [239]:
df_final['bdips_canny'] = np.array(bdips)

In [229]:
df_final.to_csv("final_with_normal.csv")

312

In [242]:
del df_final['bdips_canny']
del df_final['min_pixel_canny']
del df_final['max_pixel_canny']

In [243]:
del_final

NameError: name 'del_final' is not defined

In [106]:
df_final.to_csv("final.csv")

In [185]:
df_final.to_csv("final2.csv")